/* Custom CSS
 * --------------------------------------- */
.section {
  text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#menu li a {
  text-decoration: none;
  color: #000;
}
#menu li.active a:hover {
  color: #000;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
#menu li.active a {
  color: #fff;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Section 1
 * --------------------------------------- */
#section1 h1 {
  color: #444;
}
#section1 p {
  color: #333;
  color: rgba(0, 0, 0, 0.3);
}
#section1 img {
  margin: 20px 0;
  opacity: 1;
}

/* Section 2
 * --------------------------------------- */
#section2 h1,
#section2 p {
  z-index: 3;
}
#section2 p {
  opacity: 1;
}

#section2 #colors {
  right: 60px;
  bottom: 0;
  position: absolute;
  height: 413px;
  width: 258px;
  background-repeat: no-repeat;
}

/* Section 3
 * --------------------------------------- */
#section3 #colors {
  left: 60px;
  bottom: 0;
}
#section3 p {
  color: #757575;
}

#colors2,
#colors3 {
  position: absolute;
  height: 163px;
  width: 362px;
  z-index: 1;
  background-repeat: no-repeat;
  left: 0;
  margin: 0 auto;
  right: 0;
}

/* Section 4
 * --------------------------------------- */
#section4 p {
  opacity: 1;
}

/* ALL */

.logoIntro img {
  max-width: 300px;
}
.logoPages img {
  height: 180px;
}

.navIconContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}
.navIcon {
  /* transform: rotate(180deg); */
  font-size: 4rem;
}

/* Section 2
	 * --------------------------------------- */
#section2 h1,
#section2 p {
  z-index: 3;
}
#section2 p {
  opacity: 0.8;
}

/* Section 3
	 * --------------------------------------- */
#section3 #colors {
  left: 60px;
  bottom: 0;
}
#section3 p {
  color: #757575;
}

#colors2,
#colors3 {
  position: absolute;
  height: 163px;
  width: 362px;
  z-index: 1;
  background-repeat: no-repeat;
  left: 0;
  margin: 0 auto;
  right: 0;
}

/* Section 4
	 * --------------------------------------- */
#section4 p {
  opacity: 0.6;
}

/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
#pp-nav.custom .pp-tooltip {
  color: #aaa;
}
#markup {
  display: block;
  width: 450px;
  margin: 20px auto;
  text-align: left;
}

.section2 {
  background-image: url("../assets/img/bg/bg-proyecto.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.section4 {
  background-image: url("../assets/img/bg/bg-modelo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.section6 {
  background-image: url("../assets/img/bg/bg-noticias.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff;
}
