.halfimage-proyecto {
  background-image: url("../assets/img/old/puentesbg2.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}
