.noticiasLogo {
  display: none;
}
.onlyTitleNoticias {
  position: absolute !important;
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
  color: #ffffff !important;
  font-size: 2rem !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  line-height: 1 !important;
  font-weight: 900 !important;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}
.cardMedia {
  padding-top: 56.25%; /* 16:9 */
  display: none !important;
}
.cardContent {
  flex-grow: 1;
  background-color: rgba(1, 123, 55, 0.8);
  color: #ffffff;
}
.cardFooter {
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
}
.cta {
  background-color: #4caf50;
}
.MuiGrid-spacing-xs-4 > .MuiGrid-item:nth-child(3) {
  display: none;
}

@media (min-width: 600px) {
  .noticiasLogo {
    display: block;
  }
  .onlyTitleNoticias {
    display: none;
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .cardMedia {
    padding-top: 56.25%; /* 16:9 */
    display: none;
  }
  .cardContent {
    flex-grow: 1;
    background-color: rgba(1, 123, 55, 0.8);
    color: #ffffff;
  }
  .cardFooter {
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
  }
  .cta {
    background-color: #4caf50;
  }
  .MuiGrid-spacing-xs-4 > .MuiGrid-item:nth-child(3) {
    display: none;
  }
}
@media (min-width: 960px) {
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .cardMedia {
    padding-top: 56.25%; /* 16:9 */
    display: block;
  }
  .cardContent {
    flex-grow: 1;
    background-color: rgba(1, 123, 55, 0.8);
    color: #ffffff;
  }
  .cardFooter {
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
  }
  .cta {
    background-color: #4caf50;
  }
  .MuiGrid-spacing-xs-4 > .MuiGrid-item:nth-child(3) {
    display: block;
  }
}
